/* BRUNOLOGICO*/
button.small {
    height: 30px;
    width: 100px;
    background-color: white;
    border-radius: 5px;
    margin: 0 10px 5px 0;

    font: 15px Helvetica, Arial, Verdana, sans-serif;
}

.delete {
    width: 23px;
    height: 27px;
}

/*Template Botao definido em datasdasavaliacoes.css*/

.tf_forum {
    padding: 6px;
}

.data2, .autor2{
    padding: 0px 15px 15px 0px;
    font-size: 15px;
    color: darkblue;
}

.questao_forum {
    font-size: 17px;
    padding: 0px 15px 15px 0px;
    color: rgb(0,0,0);
    font-weight: bold;
}

.questao_forum:hover {
    color: darkblue;
}

.visu2 {
    font-size: 14px;
    padding-left: 16px;
}

.espacoResposta {
    padding-left: 40px;
}

.addPergunta {
    margin-top: 10px;
    padding: 15px;
    background-color: rgba(135,206,250, 0.5);
    width: 500px;
    border: 2px gray;
}

#procurar {
    margin-left: 3px;
}

#enviar {
    margin-left: 10px;

}
.border1 {
    border: 2px black solid;
    width: 500px;
}

