:root {

}

html body {
    background: url("../faculdade.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.loginblock {
    margin-top: 30px;
    margin-left: 20px;
    padding: 10px 15px 20px 40px;
    background-color: rgba(240,240,240,0.8);
    width: 30%;
}

.error {
    color: red;
}

.button {
    margin: 10px 0 0 0;
    padding: 6px 18px;
    border-radius: 10px;
    font-size: 12px;
}

.form {
    font-size: 18px;
}



