{% extends 'modulo/index.html' %}
{% block forum %}
{% endblock %}

{% load staticfiles %}
<style>
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
</style>

{% load staticfiles %}

{% block body %}
<div class="container">
    <div class="avatar-flip">
        <img src="{% static 'modulo/jorgelouca.jpg' %}" >
        <img src="{% static 'modulo/jorgelouca.jpg' %}" >
    </div>
    <h2>Jorge Louça</h2>
    <h4>Professor e Investigador [ISCTE]</h4>
    <p> Doutorado em informática na Université Paris Dauphine, Françae na Faculdade de Ciências da Universidade de
        Lisboa, Portugal.
        É, desde 2000, professor no ISCTE-IUL, onde ensina Linguagens de Programação e Ciência da Complexidade.
    <p>
    <p><img class="icon" src="{% static 'modulo/email-icon.png' %}"><strong>jorge.l@iscte-iul.pt</strong></p>
    <p><img class="icon" src="{% static 'modulo/office-icon.png' %}"><strong>Gabinete D6.09</strong></p>
    <p><img class="icon" src="{% static 'modulo/locker-icon.png' %}"><strong>Cacifo 296</strong></p>


</div>



{% endblock %}

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>