{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'modulo/styles/menu.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'modulo/styles/header.css' %}" />
    <!--<script type="text/javascript" src="menuonclick.js"></script>-->
    <link rel="stylesheet" type="text/css" href="{% static 'modulo/styles/home.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'modulo/styles/pastasconteudos.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'modulo/styles/horario.css' %}"/>
   <link rel="stylesheet" type="text/css" href="{% static 'modulo/styles/docentes.css' %}"/>
     <link rel="stylesheet" type="text/css" href="{% static 'modulo/styles/listadealunos.css' %}"/>
</head>
<body>


<header>
        <div class="utilizador">
            <a href="{% url 'modulo:utilizador' %}">
                <img src="{% static 'modulo/styles/User.png' %}">
            </a>
            <div>{{ user.username }}</div>

        </div>
        <div class="titulo">
            PR - Programação em Rede
        </div>

</header>


<section>
    <nav>
        <ul class="main__menu">
            <li class="list-item"><a class="home item--js" href="{% url 'modulo:index' %}"><span>Home</span></a></li>
            <li class="list-item"><a class="about item--js" href="{% url 'modulo:conteudos' %}"><span>Conteúdos</span></a>
                <ul class="drop-menu menu-4">
                    <li class="drop-item"><a class="item--1" href="{% url 'modulo:minitestes' %}"><span>Minitestes</span></a>
                        <!--<ul>
                            <li><a href='#'><span>Miniteste 1</span></a></li>
                            <li class='last'><a href='#'><span>Miniteste 2</span></a></li>
                        </ul>-->
                    </li>
                    <li class="drop-item"><a class="item--2" href="{% url 'modulo:slides' %}"><span>Slides</span></a>
                        <!--<ul>
                            <li><a href='#'><span>Slide 1</span></a></li>
                            <li class='last'><a href='#'><span>Slide 2</span></a></li>
                        </ul>-->
                    </li>
                </ul>
            </li>
            <li class="list-item"><a class="widget item--js" href="{% url 'modulo:docentes' %}"><span>Docentes</span></a></li>
            <li class="list-item"><a class="kabobs item--js" href="{% url 'modulo:horario' 1 %}"><span>Horário</span></a></li>
            <li class="list-item"><a class="contact item--js" href="{% url 'modulo:datasdasavaliacoes' %}"><span>Datas</span></a></li>
            <li class="list-item"><a class="forum item--js" href="{% url 'modulo:forum' %}"><span>Fórum</span></a></li>
        </ul>
    </nav>
</section>

<!--<ul class="main__menu">
  <li class="list-item">
    <a href="#" class="home item--js">
      <span>Home</span>
      <i class="ion ion-ios-home-outline"></i>
    </a>
  </li>

  <li class="list-item">
    <a href="#" class="about item--js">
      <span>About</span>
      <i class="ion ion-ios-contact-outline"></i>
    </a>
  </li>

  <li class="list-item">
    <a href="#" class="widget item--js">
      <span>Widgets</span>
      <i class="ion ion-ios-partly-sunny-outline"></i>
    </a>
    <ul class="drop-menu menu-4">
      <li class="drop-item"><a href="#" class="item--1">Big Widget</a></li>
      <li class="drop-item"><a href="#" class="item--2">Bigger Widget</a></li>
      <li class="drop-item"><a href="#" class="item--3">Huge Widget</a></li>
    </ul>
  </li>
  <li class="list-item">
    <a href="#" class="kabobs item--js">
      <span>KaBoBs</span>
      <img src="https://res.cloudinary.com/elafreet/image/upload/v1530189897/cooking1.svg" alt="">
    </a>
    <ul class="drop-menu menu-2">
      <li class="drop-item"><a href="#" class="item--1">Shish Kabobs</a></li>
      <li class="drop-item"><a href="#" class="item--2">BBQ Kabobs</a></li>
      <li class="drop-item"><a href="#" class="item--3">Summer Kabobs</a></li>
    </ul>
  </li>
  <li class="list-item">
    <a href="#" class="contact item--js">
      <span>Contact</span>
      <i class="ion ion-ios-mail-open-outline"></i>
    </a>
  </li>
</ul>-->
<div class="center">
{% block body %}




{% endblock %}
</div>

    {% block forum %}
    <section class="forum_lateral">
    <ul>
        <h1>Recentes do forum:</h1>
        {% if latest_question_list %}
        {% for questao in latest_question_list %}
        <li>
            <a href="{% url 'modulo:detalhepostforum' questao.id %}">
                {{ questao.questao_texto }}
            </a>
        </li>
        {% endfor %}
        {% else %}
    </ul>
        <p><strong>Não há questões recentes</strong></p>
    {% endif %}
    </section>
   {% endblock %}

</body>
</html>