{% extends 'modulo/index.html' %}
{% block forum %}
{% endblock %}
{% block body %}
<section class="whitebody">
<h1 id="tituloPagina">Bibliografia</h1>
    <div id="div1_bibliografia">
        <h3>
            Python
        </h3>
        <p id="p1">
            <h4>Ajuda com a instalação</h4>
            Instação do Python:
            <a href="https://www.python.org">https://www.python.org</a><br>
            Instale um editor para o Python (PyCharm):
            <a href="https://www.jetbrains.com/pycharm/">https://www.jetbrains.com/pycharm/</a><br>
        </p>
        <p id="p2">
            <h4>Links de ajuda com Python:</h4>
            <a href="https://docs.python.org/3/index.html">https://docs.python.org/3/index.html</a><br>
            <a href="https://docs.python.org/3/contents.html">https://docs.python.org/3/contents.html</a><br>
        </p>
        <h3>
            HTML
        </h3>
        <p id="p3">
            DOCTYPE exemplo:
            <a href="http://www.w3schools.com/tags/tag_doctype.asp">http://www.w3schools.com/tags/tag_doctype.asp</a><br>
            Tags:
            <a href="http://www.w3schools.com/tags/tag_doctype.asp">http://www.w3schools.com/tags/tag_doctype.asp</a><br>
            Color Picker:
            <a href="http://www.colorpicker.com">http://www.colorpicker.com</a><br>

        </p>
    </div>
</section>
{% endblock %}